* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.25s;
    
}

:root {
    --grid-row: 1;
    --grid-column: 1;
}

.cont2 {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 1rem;
    
    
   
}

.cont {
    align-items: center;
    justify-content: center;
    display: grid;
    padding-top: 15vh;
   
    
    grid-template-rows: repeat(var(--grid-row) 0fr);
    grid-template-columns: repeat(var(--grid-column), 0fr);
    
}

.grid-item {
    padding: 0.5rem;
    border: 1px solid #ddd;
    text-align: center;
    height: 6.25%;
    width:  6.25%;
    background-color: white;
  }

.green {
    background-color: green;
} 

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

#Switch {
    border: 1px solid black;
}

.btn {
    padding: 0.1rem;
}

#forminput {
    width: 5rem;
    
}

#forminput2 {
    width: 5rem;

}

.cont3 {
    align-content: center;
    display: flex;
    justify-content: center;
}

.form-label {
    padding: 1rem;
}

#go {
    
    margin-left: 2em;
    height: 3rem;
    width: 5rem;
    text-align: center;
} 

body {
    background-image:url("fujipng");
    background-repeat: no-repeat;
    background-size: cover;
    
}