* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.25s;
}

.cont2 {
    align-items: center;
    justify-content: center;
    display: grid;
    margin-top: 1em;
    
   
}

.cont {
    align-items: center;
    justify-content: center;
    display: grid;
    
    grid-template-rows: repeat(16, 0fr);
    grid-template-columns: repeat(16, 0fr);
    
}

.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
    height: 6.25%;
    width: 6.25%;
  }

.green {
    background-color: green;
} 

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

#Switch {
    border: 1px solid black;
}

.btn {
    margin-top: 1rem;
}